* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: white;
    --secondary-color: black;
    --tittle-background-color: darkblue;

}
header {
background-color: var(--tittle-background-color);    
}
span {
    background-color: var(--tittle-background-color);
    color: var(--primary-color);
    text-align: center;
    padding: min(1rem, 8%);

    font-size: clamp(0.5rem, calc(1vw + 0.3rem), 2rem);
}

#course-title {
    display: block;
}

nav {
    background-color: var(--secondary-color);
    margin: 0 auto;
    max-width: 2000px;
    font-size: clamp(0.5rem, calc(1vw + 0.3rem), 2rem);
}

nav ul {
    list-style: none;
}

nav a {
    display: block;
    color: var(--primary-color);
    text-decoration: none;
    text-align: center;
    align-content: center;
    padding: min(1rem, 8%);
}

nav a:hover {
    text-decoration: underline;
    color: var(--tittle-background-color);
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

main {
    display: grid;
    width: 70%;
    justify-self: center;
    margin: 0 auto
}

h2 {
    grid-column: 1/4;
    padding: min(1rem, 8%);
    text-align: center;
    font-size: clamp(0.7rem, calc(1vw + 0.3rem), 2rem);
}


#content-card {
    grid-column: 1/3;
}

#links-card {
    grid-column: 3/4;
}

.card {
    margin: 18px;
    display: grid;
    border: 1px solid black;
    border-radius: 10px;
    max-height: fit-content;
    font-size: clamp(0.5rem, calc(1vw + 0.3rem), 2rem);
}

h3 {
    background-color: var(--tittle-background-color);
    grid-row: 1/1;
    grid-column: 1/4;
    color: var(--primary-color);
    text-align: center;
    padding: min(1rem, 8%);
    border-radius: 10px 10px 0px 0px;
    max-height: fit-content;

    font-size: clamp(0.5rem, calc(1vw + 0.3rem), 2rem);
}

#about-me {
    grid-row: 2/3;
    grid-column: 1/3;
}

img {
    padding: min(1rem, 8%);
    max-width: 100%;
    min-width: 100px;
    height: auto;
    object-fit: cover;
    align-self: center;
}

p {
    padding: min(1rem, 8%);
}

#my-selfie {
    grid-column: 3/4;
    grid-row: 2/3;
}

#country-and-city-name {
    grid-column: 2/3;
    grid-row: 3/3;
    text-align: left;
    padding: min(1rem, 8%);
    border-bottom: 1px solid black;
}

#guatemala-flag-pic {
    grid-row: 4/5;
    grid-column: 1/1
}

#country-description {
    grid-column: 2/4;
    grid-row: 4/5;
    padding: min(1rem, 8%);
}

div {
    margin: 1rem;
    display: block;
    padding: min(1rem, 8%);
    align-content: center;
    grid-row: 2/5;
    max-height: fit-content;
}

div ul li {
    margin: 10px;
}

footer {
    background-color: var(--tittle-background-color);
    color: var(--primary-color);
    font-weight: 100;
    text-align: center;
    padding: min(1rem, 8%);

}

#lastModified {
    color: yellow;
}




/* Larger viewports */
@media (min-width: 500px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 auto;
    }
}