@media (min-width: 499px) {

    .container {
        position: relative;
        margin: 2rem auto;
        max-width: 900px;
    }

    h2 {
        background-color: var(--tittle-background-color);
        color: var(--secondary-color);
        text-align: left;
        padding: 1rem;
        max-width: 900px;
        margin: 1rem 0 1rem -2rem;
    }

    h2 img {
        filter: invert(100%);
    }
    

    .weather img {
        display: inline-block;
    }
    .weather h2::after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--accent-color);
        margin-top: 0.5rem;
    }

    .animal {
        display: block;
    }

    .animal img {
        display: block;
        width: 100%;
        max-width: 100%;
        height: auto;
        border-bottom: none;
    }


    .data,
    .weather {
        position: absolute;
        background-color: var(--secondary-color);
        color: var(--primary-color);
        padding: 1rem;
        z-index: 10;
        border: 1px solid var(--accent-color);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        opacity: 0.8;

    }


    .data {
        top: 20px;
        left: 20px;
        border-bottom: none;
    }

    .weather {
        bottom: 20px;
        right: 20px;
    }

}