body{
    font-family: "Roboto", sans-serif;
}
header, main, footer{
    max-width: 640px;
    margin: 1rem auto;
    border: 1px solid black ;
    padding: 1rem;
    background-color: cornflowerblue;
}

main{
    display: grid;
    grid-template-columns: 1fr;
}

section{
    padding: 1rem;
    background-color: white;
}